body{
    font-family: Calibri, Helvetica, Arial;
    background-color: ;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
}

#topRow {
    width: 100%;
    float: left;
}

#topRow a{
    text-decoration: none;
    color: black;
}

#topRow a:hover{
    text-decoration: overline;
    color: #e17e1a;
}

#movies{
    float: left;
    margin: 0 auto;
}

#watched{
    float: left;
    margin-left: 40px;
}

#fullMovie {
    float: left;
    width: 100%;
    display: inline-flex;
    margin-top : 30px;
    border-top: solid 1px;
    padding-top: 10px;
}

#fullMovie img{
    float: left;
    margin-right: 20px;
}

#fullMovie ul{
    list-style: none;
    max-width: 600px;
}

#fullMovie ul li{
    margin-top: 5px;
}

#fullMovie ul li p{
    margin: 0;
    display: inline;
    font-weight: bold;
}

h2 {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.center {
    text-align: center;
}
